html{
  font-size: 16px !important;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  font-weight: 300;
  background-color: #fff;
  animation: pageAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  letter-spacing: 1px;
}
@keyframes pageAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
p {
  line-height: 1.6;
  font-size: 15px;
}
a,
a:hover,
a:focus,
button,
button:focus {
  text-decoration: none !important;
  outline: none !important;
}
/*==========================
     2.HEADER
============================*/
header {
  width: 80px;
  border-radius: 0 1.5rem 1.5rem 0;
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100vh;
  background: #ffffff;
  -webkit-box-shadow: 5px 6px 13px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 5px 6px 13px 0px rgba(0,0,0,0.08);
  box-shadow: 5px 6px 13px 0px rgba(0,0,0,0.08);
}

header .navbar-brand {
  display: block;
  margin-right: 0;
  color: #333;
  height: 100px;
}
header .navbar-brand span {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}
header .navbar-brand p {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;  
  height: 50px;  
}
.menu-list {
  height: calc(100vh - 100px);
  justify-content: center;
  overflow-y: auto;
  overflow-x:hidden;
  align-content:flex-start;
}

.menu-list .list-group-item {
  background-color: transparent;
  border: none;
}
.menu-list li a .menu-icon {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 5px #cdcdcd, -3px -3px 3px #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-list span {
  font-size: 10px;
  font-weight: 400;
  color: #333;
  transition: all 0.2s;
}
.menu-list li a:hover .menu-icon, .menu-list li a.active .menu-icon {
  box-shadow: inset 1px 1px 5px #cdcdcd, inset -3px -3px 3px #fafafa;
  color: #FF9E2B;
}
.menu-list li a:hover span, .menu-list li a.active span {
  color: #FF9E2B;
}
.menu-list li a i {
  display: block;
  font-size: 24px;
  position: relative;
  transition: all 0.2s;
}